<nav class="navbar navbar-dark bg-verde-senior">
  <div class="container-xxl justify-content-start">
    <a class="navbar-brand" href="#">
      <img src="/assets/logo-senior.svg" alt="Logo Senior" width="150" height="48">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
