<form>
  <div class="row">
    <div class="col">
      <label for="entradaInput" class="form-label">Data/hora de entrada</label>
      <input type="datetime" class="form-control" id="entradaInput">
    </div>

    <div class="col">
      <label for="saidaInput" class="form-label">Data/hora de saída</label>
      <input type="datetime" class="form-control" id="saidaInput">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label for="pessoaInput" class="form-label">Pessoa</label>
      <input type="text" class="form-control" id="pessoaInput">
    </div>

    <div class="col mt-auto mb-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="incluirVeiculoCheck">
        <label class="form-check-label" for="incluirVeiculoCheck">
          Possui veículo
        </label>
      </div>
    </div>
  </div>

  <button class="btn btn-primary">Salvar</button>
</form>
